@page
@model Music_School_DB.Pages.Party.CurrenciesPage
@using Music_School_DB.Pages.Extensions
@{
    Layout = "_Create";
}
<body>
    @Html.MyEditorFor(x => x.Item.ID)  
    <partial name= "_EditCurrency"/>
</body>      