@page
@model Music_School_DB.Pages.Instructors.InstructrosPage
@using Music_School_DB.Pages.Extensions

@{
    Layout = "_Create";
}
<body>
      @Html.MyEditorFor(x => x.Instructor.ID)
      <partial name= "_EditInstructor"/>
</body>      