@page
@model Music_School_DB.Pages.Instructors.InstructrosPage

@{
    Layout = "_Edit";
}

<body>
     <input type="hidden" asp-for="Instructor.ID" />
     <partial name="_EditInstructor" />
</body>
            
