@page
@model Music_School_DB.Pages.Party.InstructrosPage


@{
    Layout = "_Edit";
}

<body>
     <input type="hidden" asp-for="Item.ID" />
     <partial name="_EditInstructor" />
</body>
            
